<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<header><a href="/"><img th:src="@{/img/GGG_logo.jpg}" width="85" height="85"></a></header>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">スタッフログイン</h2>
                <form th:action="@{/staffLogin}" method="post" th:object="${loginForm}">
                    <div class="form-group">
                        <label for="username">ユーザー名</label>
                        <input type="text" class="form-control" th:field="*{loginId}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">パスワード</label>
                        <input type="password" class="form-control" th:field="*{password}" required>
                    </div>
                    <button type="submit" class="btn btn-primary">ログイン</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
